

/*call to action module*/

.call-to-action {
	background-color: var(--purple);
	border: var(--border);
}

.cta-red {
	background-color: var(--red);
}

.cta-wheat {
	background-color: var(--wheat);
}

.cta-module {
	padding: 40px 10px;
}

h2{
	border: var(--border);
	
}

h2, .cta-module p, button {
	padding: 15px;
}
