
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	--blue: #9fc9eb;
	--cyan: #aadee9;
	--green:#a9d9bb;
	--purple:#db9fc7;
	--orange: #fdcc9a;
	--red: #f69799;
	--wheat: #fbf1e2;
	--border: 4px solid black;

}

body {
	font-family: helvetica;
}


p.supporting-text {
	font-size: 18px;
}

/*site header*/
.site-header {
	background-color: var(--green);
}

nav-bar {

	display: block;
	border: 4px solid black;
	padding: 10px;
}

nav {
	border: 3px solid black;
	padding: 10px;
	display: flex;
	/*flex-direction: row;*/
	/*flex-wrap: row;
*/}

nav a {
	border: 2px solid black;
	padding: 10px;
}

.nav-menu a:first-child {
	text-transform: uppercase;
}



/*hero section*/

.hero {
	
	background-color: var(--cyan);
}

.hero-image {
	border: var(--border);
	padding: 10px;

}

picture {
	display: block;
	border: var(--border);
	padding: 10px;
	margin-top: 30px;
}

picture img {
	display: block;
	height: auto;
	width: 100%;
	border: var(--border);
	padding: 10px;
	margin: auto;

}

.hero-text {
	border: var(--border);
	padding: 10px;
}

.header, .supporting-text {
	border: var(--border);
	padding: 10px;
	margin: 20px 0;
}

.header {
	font-size: 30px;
}

/*call to action module*/

.call-to-action {
	background-color: var(--purple);
}

.cta-red {
	background-color: var(--red);
}

.cta-wheat {
	background-color: var(--wheat);
}

.cta-module {
	border: var(--border);
	padding: 40px 10px;
}

h2{
	border: var(--border);
	
}

h2, .cta-module p, button {
	padding: 15px;
}

button {
	text-transform: uppercase;
	padding: 20px;
	font-weight: 900;
	font-size: 18px;
	color: #fff;
	background-color: #000;
	border: none;
	text-decoration: underline;
}

/*article grid*/

.article-grid {

	background-color: var(--orange);
	padding: 60px 0;

}

.article-grid section, article-card-container {
	border: var(--border);
}


.article-grid-main-card {
	padding: 40px 15px;
}

.article-grid-main-card * {
	border: var(--border);
	padding: 15px;
	margin: 25px 0;
}

h3 {
	font-size: 30px;
	font-weight: 900;
	border: var(--border);
}


.article-card-container {
	border: var(--border);
	padding: 15px;
	margin-top: 50px;
}

.article-card {
	border: var(--border);
	margin-top: 30px;
	padding: 15px;
}

.article-card h3, .article-card p  {
	margin-top: 25px;
	padding: 10px;

}


/*footer*/

footer {
	border: var(--border);
}

.footer-navlinks {
	border: var(--border);
	padding: 40px 10px 60px 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.nav-box {
	padding: 10px;
	border: var(--border);
	display: flex;
	flex-direction: column;


}

.nav-box a {
	border: var(--border);
	padding: 10px;
}













@media (min-width: 600px){

.inner-column {
	border: 3px solid black;
	width: min(80%, 1000px);
	margin: auto;
}

}




